@using CarBook.Dto.CarDtos
@model List<ResultCarWithBrandDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araba Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Arabalarla ilgili ekleme, silme, güncelleme, arama ve listeleme
                            gibi işlemler bu sayfa üzerinden gercekleştirebilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Marka</th>
                                        <th>Model</th>
                                        <th>Vites</th>
                                        <th>Kilometre</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                        <th>Detaylar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.BrandName</td>
                                            <td>@item.Model</td>
                                            <td>@item.Transmission</td>
                                            <td>@item.Km</td>
                                            <td><a href="/AdminCar/RemoveCar/@item.CarId" class="btn btn-danger">Sil</a></td>
                                            <td><a href="/AdminCar/UpdateCar/@item.CarId" class="btn btn-primary">Güncelle</a></td>
                                            <td><a href="/AdminCar/CarDetail/@item.CarId" class="btn btn-dark">Detaylar</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/AdminCar/CreateCar/" class="btn btn-success">Yeni Araç Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>